* {
  box-sizing: border-box;
}
:root {
  --primary: #F2D64B;
  --olive: #566B2F;
  --dark-olive: #2F3F12;
  --deep: #2B0000;
  --white: #ffffff;
}

body {
  font-family: Arial;
  background: var(--dark-olive);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: var(--olive);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  color: var(--white);
}

h2 {
  text-align: center;
  color: var(--primary);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: var(--primary);
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #e6c93d;
}

a {
  color: var(--primary);
  text-decoration: none;
}